/* Bannière principale */
.banner {
    width: 100%;
    padding: 20px; /* Espacement interne */
    position: relative; /* Position relative pour positionner l'image */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: 250px; /* Hauteur définie pour la bannière */
}

/* Style pour l'image de la bannière */
.banner img {
    width: 100%;                 /* L'image prend toute la largeur du conteneur */
    height: 100%;                /* L'image prend toute la hauteur du conteneur */
    object-fit: cover;           /* L'image remplira le conteneur sans être déformée, mais peut être coupée */
    object-position: center;     /* Centre l'image dans le conteneur */
}