/* layout.css */

/* Conteneur de la page d'accueil */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh; /* S'assure que le conteneur occupe toute la hauteur de la fenêtre */
    position: relative;
}

/* Titre de la page d'accueil */
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

/* Conteneur de l'image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px; /* Ajuste l'image pour qu'elle ne soit pas sous le titre */
}

/* Image d'accueil */
.home-image {
    width: 80%; /* Ajuste la largeur de l'image */
    height: auto;
    max-height: 500px;
}