/* Style du bouton Menu en haut à gauche */
.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2196F3;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 15; /* Placer le bouton au-dessus de la bannière */
}

.menu-button button {
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Menu Container */
.menu-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%; /* Réduit l'espace entre les menus */
    z-index: 1;
    margin-top: 20px; /* Espacement entre l'image et les menus */
}

/* Style de chaque menu */
.menu {
    width: 120px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #4CAF50; /* Fond par défaut */
    color: white;
    cursor: pointer;
}

/* Position des menus */
.menu1 { position: absolute; top: 0; left: 0; background-color: #4CAF50; } /* En haut à gauche */
.menu2 { position: absolute; top: 0; right: 0; background-color: #2196F3; } /* En haut à droite */
.menu3 { position: absolute; bottom: 0; left: 0; background-color: #FF5722; } /* En bas à gauche */
.menu4 { position: absolute; bottom: 0; right: 0; background-color: #FFC107; } /* En bas à droite */

/* Menu au survol : effet d'opacité */
.menu:hover {
    opacity: 0.9;
}