/* Conteneur des menus */
.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Gestion des Menus autour de l'image centrale */
.menu {
    font-family: 'Ryman Eco', sans-serif;
    width: 150px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

/* Changement de couleur au survol des menus */
.menu:hover {
    opacity: 0.9;
}

/* Menu 1 : en haut à gauche */
.top-left {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: rgb(65, 126, 67); /* Vert */
}

/* Menu 2 : en haut à droite */
.top-right {
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: rgb(187, 111, 88); /* Orange */
}

/* Menu 3 : en bas à gauche */
.bottom-left {
    position: absolute;
    bottom: -40px;
    left: -40px;
    background-color: rgb(40, 84, 119); /* Bleu */
}

/* Menu 4 : en bas à droite */
.bottom-right {
    position: absolute;
    bottom: -40px;
    right: -40px;
    background-color: rgb(85, 81, 81); /* Violet */
}

/* Bouton Menu déroulant en haut à gauche (arrondi) */
.menu-btn {
    font-family: 'Ryman Eco', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(65, 126, 67);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 25px; /* Taille du bouton */
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    border-radius: 30px; /* Bouton arrondi */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

/* Survol du bouton menu déroulant */
.menu-btn:hover {
    background-color: rgb(82, 160, 85);
}

/* Style du menu déroulant */
#dropdown-menu {
    font-family: 'Ryman Eco', sans-serif;
    display: none;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: rgb(65, 126, 67);
    padding: 10px;
    border-radius: 5px;
    z-index: 20;
}

#dropdown-menu a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
}

#dropdown-menu a:hover {
    background-color: rgb(82, 160, 85);
}