/* responsive.css */

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu {
        width: 80%;
        margin-bottom: 10px;
    }

    .home-image {
        max-width: 90%;
    }
}
