/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
    }

    .menu {
        width: 80%;
        margin-bottom: 10px;
    }

    .home-image {
        max-width: 90%;
    }
}