/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 80%; /* Les menus seront plus larges sur les petits écrans */
    }

    /* Ajuster la taille de la bannière pour les petits écrans */
    .banner {
        height: 150px;
    }
}